{% extends "blog/base.html" %}
{% load static %} 
{% block content %}
	{% if user.is_authenticated %}
		<p id="paragraph">Please wait while we fetch your courses</p>
		<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

		<script>
			var username = prompt("Please enter your username:");
			var password = prompt("Please enter your password:");
			try {
                $(document).ready(function () {
                    $.ajax({
                        url: 'ajax/courses',
                        data: {
							'username': String(username),
							'password': String(password)
                        },
                        dataType: "json",
                        success: function(courses){

							for (var course in courses){
								document.writeln(course, "\n\t", courses[course]);
							}
							
                        }
                    });
                });
            }
            catch (TypeError) {
                console.log("ran into an error");
            }
		</script>
	{% endif %}
	<!--<a mat-raised-button color="accent" target="0" href="https://wits.ac.za/">Wits Home</a> -->
{% endblock %}
