
{% extends "blog/base.html" %}
{% load static %}

	<meta name="viewport" content="width=device-width, initial-scale=1">



{% block content %}
	{% if user.is_authenticated %}

		<link rel="stylesheet" href="{% static 'jqtree.css'%}">
		<script type="text/javascript" src="{% static 'js/tree.jquery.js' %}"></script>

		<p id="paragraph">Click to the button below in order to access your wits courses</p>
		<button id="Update_resourcses" style="width:auto;">Update resources</button>
		<div id="tree1"></div>
		<div id="tree2"></div>
		<script>

			
			document.getElementById("Update_resourcses").onclick = function() {onSubmit()};
			onStartUp();
			function onStartUp(){
				document.getElementById("paragraph").innerHTML = "Click the button below to update your courses"
				try{
					$(document).ready(function () {
						$.ajax({
							url: 'ajax/courses',
							data: {
								'state': "local",
							},
							dataType: "json",
							success: function(courses){
								console.log(courses);
								var data = []
								var resources_ = [];
								var count = 0;
								var $tree = $('#tree2');
								for (var course in courses){
									if (courses[course] === "course"){
										console.log(course);
										console.log(count > 0);
										if (count > 0){
											data.push({
												name: name,
												children: resources_
											});
										}
										resources_ = [];
										name = course;
									}
									else{
										resources_.push(course);
									}
									count++;
									// console.log(count);
								}
								$(function() {
									$tree.tree({
											data: data
										});
									});
									$tree.on( 'tree.click', function(e){
										e.preventDefault();
										var selected_node = e.node;
										console.log(String(selected_node.name))
										console.log(selected_node)
										if (String(selected_node.parent) !== ""){
										console.log("goodness grace we finally found you");
										var file_name = String(selected_node.parent.name) + "/" + String(selected_node.name);
						
										String(file_name).replace(" ", "%");
										console.log(file_name)
										window.location.replace("/blog/about/download?state=download&file_name=" + file_name);
								
						
											console.log(String(selected_node.parent.name) + "/" + String(selected_node.name));
										} 
									})

							}
						});
					});
				}
				catch (TypeError) {
					console.log("ran into an error");
				}
			}
			// onSubmit(); // TODO testing
			function onSubmit(){
				console.log("Aqui estamos");
				var password = prompt();
				document.getElementById("paragraph").innerText = "Please wait while we fetch your courses, this may take a while";
				console.log("password", password);
				try {
					$(document).ready(function () {
						$.ajax({
							url: 'ajax/courses',
							data: {
								'password': String(password)
							},
							dataType: "json",
							success: function(courses){
								document.getElementById("paragraph").innerText = "Your courses are displayed below";
				
								var data = [];
								var resources_ = []
								var name;
								var $tree = $('#tree1');
								var count = 0;
								console.log(courses);
								for (var course in courses){
									if (courses[course] === "course"){
										console.log(course);
										console.log(count > 0);
										if (count > 0){
											data.push({
												name: name,
												children: resources_
											});
										}
										resources_ = [];
										name = course;
									}
									else{
										resources_.push(course);
									}
									count++;
									// console.log(count);
								}
								
								$(function() {
									$tree.tree({
											data: data
										});
									});
									
									$tree.on( 'tree.click', function(e){
										e.preventDefault();
										var selected_node = e.node;
										console.log(String(selected_node.name))
										if (String(selected_node.name) === "resources"){
											console.log("goodness grace we finally found you");
											// Get the modal
											var modal = document.getElementById("myModal");

											// Get the <span> element that closes the modal
											var span = document.getElementsByClassName("close")[0];

											// When the user clicks the button, open the modal 
											var heading_text = document.getElementById("modal_heading");
											heading_text.innerText = selected_node.parent.name;
											
											
											modal.style.display = "block";
											var modal_body = document.getElementById("modal_body_div");
											modal_body.innerHTML = selected_node.course;
											// When the user clicks on <span> (x), close the modal
											span.onclick = function() {
												modal.style.display = "none";
											}

											// When the user clicks anywhere outside of the modal, close it
											window.onclick = function(event) {
											if (event.target == modal) {
												modal.style.display = "none";
											}
											}
										} 
									})
								
							}
						});
					});
				}
				catch (TypeError) {
					console.log("ran into an error");
				}
			}
		</script>
	{% endif %}
	<!--<a mat-raised-button color="accent" target="0" href="https://wits.ac.za/">Wits Home</a> -->
{% endblock %}