{% load static %}
<head>
    <style>
        .container {
            padding: 40px;
            margin: 0 auto;
            max-width: 1000px;
            text-align: center;
        }
    </style>
</head>


<body>
    <div class="container">
    <h1> SEARCH GOOGLE SCHOLAR</h1>
    <P>USE "ENTER" TO SEND QUERY TO SERVER</P>
    <div id="SearchBar">
    <input
        type="text"
        name="searchBar"
        id="searchBar"
        placeholder="search"
        />
    </div>
    <ul id="results"></ul>
    <p id="paragraph"></p>
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <script>
        const searchBar = document.getElementById('searchBar');

        searchBar.addEventListener('keypress', (e) => {
            const searchString = e.target.value.toLowerCase();
            if (e.key === "Enter"){
                try {
                    $(document).ready(function () {
                        $.ajax({
                            url: 'ajax/',
                            data: {
                                'search_query': String(searchString),
                            },
                            dataType: "json",
                            success: function( results){
                                console.log(results)
                                for (var result in results){
								    document.writeln(result, "\n\t", results[result]);
							    }
                                
                            }
                        });
                    });
                }
                catch (TypeError) {
                    console.log("ran into an error");
                }
            }
        });

    </script>
</body>