{% extends "blog/base.html" %}
{% load crispy_form_tags %}
{% block content %}
	<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                        Join Today
                </legend>
                {{  form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="busign" type="submit">  Sign  UP </button>
            </div>
        </form>
	    <div class="border-bottom pt-3">
            <small class="text-muted">
                Alredy have an Account <a class="ml-3" href="#">Log In</a>
            </small>
        </div>
    </div>

{% endblock %}